# Exercise 0
a) Börja med att läsa in filen riket2023_åk9_np.xlsx och sheets för de olika ämnena. Ändra kolumnnamnen på
respektive dataframe så du får något liknande som nedan.

In [15]:
import pandas as pd

# Read file and sheets
df_riket = pd.read_excel("../Laboration2/Data/riket2023_åk9_np.xlsx", sheet_name=None, skiprows=8)
sheets = ["Engelska", "Matematik", "Svenska", "Svenska som andraspråk"]

# Function to rename column names
def rename_columns(df):
    df.columns = ["Plats", "Huvudman", "Totalt (A-F)", "Flickor (A-F)", "Pojkar (A-F)", "Totalt (A-E)", "Flickor (A-E)", "Pojkar (A-E)", "Totalt (poäng)", "Flickor (poäng)", "Pojkar (poäng)"][:len(df.columns)]
    return df

# If sheet_name is in sheets column name is changed on each sheet and DataFrame
for sheet_name, df in df_riket.items():
    if sheet_name in sheets:
        df_riket[sheet_name] = rename_columns(df)

,Plats,Huvudman,Totalt (A-F),Flickor (A-F),Pojkar (A-F),Totalt (A-E),Flickor (A-E),Pojkar (A-E),Totalt (poäng),Flickor (poäng),Pojkar (poäng)
0,Riket,Samtliga,93225,45800,47425,96.1,97.9,94.4,13.6,14.5,12.7
1,Riket,Kommunal,72771,35484,37287,95.7,97.6,93.8,13.3,14.3,12.4
2,Riket,Enskild,20414,10297,10117,97.6,98.7,96.6,14.4,15.2,13.5
3,Riket,Skolverket,40,19,21,100.0,100.0,100.0,15.0,15.9,14.2

b) Ta reda på antalet som fått F i matematik totalt, pojkar respektive flickor.

In [15]:
# Assume df_riket is a dictionary where each key represents a sheet name and the corresponding value is a DataFrame
# Filter the DataFrame corresponding to the "Matematik" sheet
df_matematik = df_riket["Matematik"]

# Assume that the columns have been renamed using the provided function
# Extract the columns containing the total number of students, boys, and girls who received an F
total_F = df_matematik.loc[df_matematik["Totalt (A-F)"] == "F", "Totalt (A-F)"].count()
boys_F = df_matematik.loc[df_matematik["Pojkar (A-F)"] == "F", "Pojkar (A-F)"].count()
girls_F = df_matematik.loc[df_matematik["Flickor (A-F)"] == "F", "Flickor (A-F)"].count()

# Print the results
print("Total number of students who received an F in Mathematics:", total_F)
print("Number of boys who received an F in Mathematics:", boys_F)
print("Number of girls who received an F in Mathematics:", girls_F)

KeyError: 'Totalt (A-F)'