# 0. Cities in Sweden - create dataset

a) Use your DataFrame to print out all the cities.

In [25]:
import pandas as pd

data = {
    "cities": ["Malmö", "Stockholm", "Uppsala", "Göteborg"],
    "population": [347949, 975551, 233839, 583056]
}

df = pd.DataFrame(data)

print(df)

      cities  population
0      Malmö      347949
1  Stockholm      975551
2    Uppsala      233839
3   Göteborg      583056

b) Select only the row which contains Göteborg. Do this by using the name Göteborg.

In [28]:
gbg_row = df[df["cities"] == "Göteborg"]

print(gbg_row)

     cities  population
3  Göteborg      583056

c) Sort the cities by population from largest to smallest.

In [30]:
sorted_population = df.sort_values(by="population")

sorted_population

      cities  population
2    Uppsala      233839
0      Malmö      347949
3   Göteborg      583056
1  Stockholm      975551